#main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#counter-box {
    width: 18rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#count {
    font-size: 2rem;
}

#add-box, #counter, #sub-box {
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
    font-size: 2rem;
 }

#add-box, #sub-box {
    background-color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
}